<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
      <h2 *ngIf="authLoginService.isAuthenticated()">Welcome {{authLoginService.currentUser.firstName}}</h2>
    </ion-toolbar>
  </ion-header>

  <ion-content class="no-scroll">
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name='{{p.img}}'></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
