page-set-pin-code {
  ion-content{
    ion-grid{
      ion-row{
        ion-col{
          text-align: center;
          p:first-of-type{
            color: #777;
            text-align: center;
            margin-top: 18px;
          }
          h4{
            color: #333;
          }
          input{
            border-radius: 25px;
            color: #000;
            border: 1px solid #EEE;
            background-color: #EEE;
            height: 35px;
            padding: 10px;
          }
          #resend-code-wrapper{
            display: inline-block;
            margin-top: 100px;
          }
        }
      }
    }
  }
}
