h6{
  margin: 0px;
}

.ion-content{
  background-color: #f5f5f5;
}

.item-grp + .item-grp{
  margin-left: 2%;
}

.item-grp{
  background-color: #fff;
  margin-bottom: 18px;
  padding: 5%;
  box-shadow: 1px 1px 10px #888;
}

page-merchants {

  ion-content{
    ion-grid{
      ion-row{
        ion-col{
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          border-radius: 2px;
          div{
            img{
              width: 85px;
              height: 85px;
            }
          }
          h4{
            margin-top: 7px;
          }
        }
      }
    }
  }
}
