page-forget-password {
  ion-grid{
    ion-row{
      ion-col{
        #forget-password-icon{
          font-size: 5em;
        }
        p{
          color: #777;
          text-align: center;
          font-size: 18px;
        }
        .control{
            display: flex;
            align-items: flex-end;
            ion-icon{
              font-size: 2.5em;
            }
        }
      }
    }
  }
}
